.sign-up {
    &-form {
        display: flex;
        flex-flow: column wrap;

       &-wrapper {
            display: flex;
            flex-flow: column wrap;
            padding: 30px;
        }

        &-section {
            padding: 30px;
        }

        &-submit {
            padding: 30px;
        }
    }
}