.sign-up {
    &-form {
       &-wrapper {
            padding: 20px;
            display: flex;
            flex-wrap: row;
        }

        &-section {
            padding: 10px;
        }

        &-submit {
            padding: 20px;
        }
    }
}