.card {
    min-width: 40vh;
    max-width: 60vh;
    min-height: 30vh;
    max-height: 30vh;
    align-self: baseline;
    padding: 10px;
    background-image: url('../media/Animal_Crossing_Leaf.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position-y: 120px;
    background-position-x: 170px;

    &-details {
        text-align: left;
        padding: 70px;
    }

    &-points-input {
        margin-left: 20px;
    }

    &-no-details {
        text-align: center;
        padding: 50px;
    }



    // &-picture {
    //     background-position: ;
    // }
}


