.user-details {
    text-align: left;
    padding: 20px;
    padding-left: 10px;
    align-self: flex-start;
}

#profile-wrapper {
    height: auto;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;;
    background-color: #bea87e;
}

.card {
    align-self: center;
}

.container {
    width: 100%;
    background-color: #bea87e;
}